<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="MMU Mentoring application for students">
        <meta name="keywords" content="Mentoring, student, MMU">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MMU Mentoring Application</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
                <a class="navbar-brand">Student Mentoring Application</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Ask for help</a>
                        </li>
                        <li class="nav-item active">
                            <a href="#" class="nav-link">Guidelines</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="container-fluid">
                <h1> How to use the platform </h1>
                <h2> Student </h2>
                <p>The platform consists of a mentor list page, guidelines page and a page where students can ask
                for help in regards to their course or subject material (as long as this does NOT affect collusion).
                Please do not ask for help in regards to your assignments as this will come under collusion and this
                will be dealt with by the university once discovered. 
                </p>
                <h2>Mentor</h2>
                <p>
                    Mentors won't be viewing the platform much apart from reviewing guidelines.
                    Do not help students with their coursework or assignment work as this will come under
                    collusion and explain to the student that you cannot help with assignment work. 
                    You can help with general concepts and understanding if the student is stuck. 
                    If you cannot help the student, you must be honest with the student and state that you
                    don't know how to help them (so that the student can ask for help from the professor or staff).
                </p>

                <h1>Responding to lack of professionalism</h1>
                <p>
                    If you find that your mentor is being unprofessional (e.g. insults, condescending behaviour),
                    this must be reported to the university instead of the team responsible for the platform.
                    To define "lack of professionalism" more precisely, it describes behaviour that violates the 
                    <a href="https://www.mmu.ac.uk/media/mmuacuk/content/documents/student-case-management/20739_SCM_Code-of-Conduct-A5-V3.pdf">Student Code of Conduct</a> that is applicable to online behaviour as described in the 
                    <a href="https://www.mmu.ac.uk/media/mmuacuk/content/documents/student-case-management/20739_SCM_Code-of-Conduct-A5-V3.pdf">code of conduct</a> (Section 2.2). 
                </p>
        </div>
    </body>
</html>