{% extends "templates/base.html" %}

{% block content %}
    <h1> How to use the platform </h1>
    <h2> Student </h2>
    <p>The platform consists of a mentor list page, guidelines page and a page where students can ask
    for help in regards to their course or subject material (as long as this does NOT affect collusion).
    Please do not ask for help in regards to your assignments as this will come under collusion and this
    will be dealt with by the university once discovered. 
    </p>
    <h2>Mentor</h2>
    <p>
        Mentors won't be viewing the platform much apart from reviewing guidelines.
        Do not help students with their coursework or assignment work as this will come under
        collusion and explain to the student that you cannot help with assignment work. 
        You can help with general concepts and understanding if the student is stuck. 
        If you cannot help the student, you must be honest with the student and state that you
        don't know how to help them (so that the student can ask for help from the professor or staff).
    </p>

    <h1>Responding to lack of professionalism</h1>
    <p>
        If you find that your mentor is being unprofessional (e.g. insults, condescending behaviour),
        this must be reported to the university instead of the team responsible for the platform.
        To define "lack of professionalism" more precisely, it describes behaviour that violates the 
        <a href="https://www.mmu.ac.uk/media/mmuacuk/content/documents/student-case-management/20739_SCM_Code-of-Conduct-A5-V3.pdf">Student Code of Conduct</a> that is applicable to online behaviour as described in the 
        <a href="https://www.mmu.ac.uk/media/mmuacuk/content/documents/student-case-management/20739_SCM_Code-of-Conduct-A5-V3.pdf">code of conduct</a> (Section 2.2). 
    </p>
{% endblock %}